<div>

  <%= render "form", equipment: @equipment %>

  <br>


  <div class="mt-6 flex justify-center space-x-4" >
    <%= link_to "Ver este Notebook", @equipment, class: "inline-block bg-blue-600 text-white font-semibold py-2 px-4 rounded hover:bg-blue-700" %>

    <%= link_to "Voltar para Notebooks", equipment_index_path, class: "inline-block bg-gray-600 text-white font-semibold py-2 px-4 rounded hover:bg-gray-700" %>
  </div>
</div>
