<div id="<%= dom_id collaborator %>">
  <p>
    <strong>Name:</strong>
    <%= collaborator.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= collaborator.email %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= collaborator.department %>
  </p>

</div>
