<h1>Editing collaborator</h1>

<%= render "form", collaborator: @collaborator %>

<br>

<div>
  <%= link_to "Show this collaborator", @collaborator %> |
  <%= link_to "Back to collaborators", collaborators_path %>
</div>
