<div align="center">


<h1>Editando Colaborador</h1>

<%= render "form", collaborator: @collaborator %>

<br>


  <%= link_to "Visualizar colaborador", @collaborator %> |
  <%= link_to "Voltar para colaboradores", collaborators_path %>
</div>
