<header class="bg-blue-600 text-white py-4 shadow-md">

  <div class="container mx-auto px-6 flex justify-between items-center">
    <h1 class="text-xl font-bold">📦 Equipamentos FEC</h1>

    <nav class="space-x-4 text-sm">
      <%= link_to "Início", root_path, class: "hover:underline" %>
      <%= link_to "Empréstimos", loans_path, class: "hover:underline" %>
      <%= link_to "Notebooks", equipment_index_path, class: "hover:underline" %>
      <%= link_to "Colaboradores", collaborators_path, class: "hover:underline" %>
    </nav>

  </div>
</header>