
<div align="center">
    <h1>Gerenciamento de Notebooks</h1>

    <ul>
        <li><%=  link_to "Gerenciar Notebooks", equipment_index_path %> </li>
        <li><%=  link_to "Gerenciar Colaboradores", collaborators_path %></li>
        <li> <%= link_to "Gerenciar Empréstimos", loans_path%></li>
    </ul>
</div>