<div class="grid grid-cols-1 md:grid-cols-3 gap-6 max-w-7xl mx-auto px-4 py-10">
  <!-- Card: Notebooks -->
  <div class="bg-white p-6 rounded-lg border border-gray-300 shadow hover:shadow-lg transition">
    <%= link_to equipment_index_path do %>
      <img src="/assets/equipamento.png" alt="Notebooks" class="w-full h-48 object-contain mb-4 mx-auto" />
      <p class="text-center text-lg font-semibold text-gray-800">Notebooks</p>
    <% end %>
  </div>

  <!-- Card: Empréstimos -->
  <div class="bg-white p-6 rounded-lg border border-gray-300 shadow hover:shadow-lg transition">
    <%= link_to loans_path do %>
      <img src="/assets/emprestimo.png" alt="Empréstimos" class="w-full h-48 object-contain mb-4 mx-auto" />
      <p class="text-center text-lg font-semibold text-gray-800">Fluxos</p>
    <% end %>
  </div>

  <!-- Card: Colaboradores -->
  <div class="bg-white p-6 rounded-lg border border-gray-300 shadow hover:shadow-lg transition">
    <%= link_to collaborators_path do %>
      <img src="/assets/colaborador.png" alt="Colaboradores" class="w-full h-48 object-contain mb-4 mx-auto" />
      <p class="text-center text-lg font-semibold text-gray-800">Colaboradores</p>
    <% end %>
  </div>
</div>
